<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 连接学校统一身份认证与教务系统 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 操作反馈振动（与原版一致） -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 上课提醒（Android 实时通知，Android 13+ 需运行时授权） -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Android 16 实时通知"上岛"资格（推广型常驻通知） -->
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS"/>
    <!-- 小米/MIUI：requestPinAppWidget 一键把小组件加到桌面需要它（其它厂商不需要） -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 课前 15 分钟准时提醒；未授权时自动退化为近似闹钟 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:label="MyJLBTC"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 上课提醒：闹钟到点重新评估实时通知（课前 15 分钟 / 上课 / 下课） -->
        <receiver
            android:name=".ClassReminderReceiver"
            android:exported="false" />

        <!-- 课程表桌面卡片（原版鸿蒙 formability 的 Android 对应物）
             按小米小组件规范给三种尺寸：2×2 / 4×2 / 4×4，各一个 Provider -->
        <receiver
            android:name=".ScheduleWidgetProvider"
            android:exported="false"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <receiver
            android:name=".ScheduleWidgetSmallProvider"
            android:exported="false"
            android:label="@string/widget_label_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_small_info" />
        </receiver>

        <receiver
            android:name=".ScheduleWidgetListProvider"
            android:exported="false"
            android:label="@string/widget_label_list">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_list_info" />
        </receiver>

        <receiver
            android:name=".ScheduleWidgetWeekProvider"
            android:exported="false"
            android:label="@string/widget_label_week">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_week_info" />
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
